# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# other files, potentially created by build tools
/.settings
/.classpath
/bin
/classes
/build
/temp
/tmp
/out
/.gradle
/dependency-reduced-pom.xml

#helloWorld
/helloWorld/helloWorld
/helloWorld/helloWorld.exe

## sockets
## Linux Builds of C examples
/sockets/c/TCPClient_linux
/sockets/c/TCPServer_linux
/sockets/c/UDPClient_linux
/sockets/c/UDPServer_linux
## Java
/sockets/java/bin

## javaServlets
### examples
/javaServlets/examples/target/
/javaServlets/examples/temp/
/javaServlets/examples/tmp/
/javaServlets/examples/bin/
/javaServlets/examples/.classpath
### proxy
/javaServlets/proxy/target/
/javaServlets/proxy/temp/
/javaServlets/proxy/tmp/
/javaServlets/proxy/bin/
/javaServlets/proxy/.classpath

## javaServerPages
### examples
/javaServerPages/examples/target/
/javaServerPages/examples/temp/
/javaServerPages/examples/tmp/
/javaServerPages/examples/bin/
/javaServerPages/examples/.classpath
### standAloneJSPsWithJetty
/javaServerPages/standAloneJSPsWithJetty/target/
/javaServerPages/standAloneJSPsWithJetty/temp/
/javaServerPages/standAloneJSPsWithJetty/tmp/
/javaServerPages/standAloneJSPsWithJetty/bin/
/javaServerPages/standAloneJSPsWithJetty/.classpath

## javaRMI
/javaRMI/target/
/javaRMI/temp/
/javaRMI/tmp/
/javaRMI/bin/
/javaRMI/.classpath

## XML
/xml/java/target/
/xml/java/temp/
/xml/java/tmp/
/xml/java/bin/
/xml/java/.classpath

## web services
### warehouse server example
/webServices/warehouse/server/target/
/webServices/warehouse/server/temp/
/webServices/warehouse/server/tmp/
/webServices/warehouse/server/bin/
/webServices/warehouse/server/.classpath
### warehouse client example
/webServices/warehouse/client/target/
/webServices/warehouse/client/temp/
/webServices/warehouse/client/tmp/
/webServices/warehouse/client/bin/
/webServices/warehouse/client/.classpath
/webServices/warehouse/client/src/main/java/warehouseClient/WarehouseServiceCallbackHandler.java
/webServices/warehouse/client/src/main/java/warehouseClient/WarehouseServiceStub.java
### text client example
/webServices/textClient/target/
/webServices/textClient/temp/
/webServices/textClient/tmp/
/webServices/textClient/bin/
/webServices/textClient/.classpath
/webServices/textClient/src/main/java/textClient/TextCasingCallbackHandler.java
/webServices/textClient/src/main/java/textClient/TextCasingStub.java
### calculator server example
/webServices/calculator/server/target/
/webServices/calculator/server/temp/
/webServices/calculator/server/tmp/
/webServices/calculator/server/bin/
/webServices/calculator/server/.classpath
### calculator client example
/webServices/calculator/client/target/
/webServices/calculator/client/temp/
/webServices/calculator/client/tmp/
/webServices/calculator/client/bin/
/webServices/calculator/client/.classpath
/webServices/calculator/client/src/main/java/calculatorClient/CalculatorCallbackHandler.java
/webServices/calculator/client/src/main/java/calculatorClient/CalculatorStub.java