# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# other files, potentially created by build tools
/.settings
/.classpath
/bin
/classes
/build
/temp
/tmp
/out
/.gradle
/dependency-reduced-pom.xml

## MPI
## Linux Builds of C examples
bareBones
basicInfo
simplePointToPoint1
simplePointToPoint2
piPointToPoint
deadlock
nonBlockingPointToPoint
piNonBlockingPointToPoint
broadcast
gatherScatterBareBones
gatherScatterPrimes
piGatherScatter
reducePrimes
structTest
structScatter
## Windows Builds of C examples
bareBones.exe
basicInfo.exe
simplePointToPoint1.exe
simplePointToPoint2.exe
piPointToPoint.exe
simplePtP2.exe
deadlock.exe
nonBlockingPointToPoint.exe
piNonBlockingPointToPoint.exe
broadcast.exe
gatherScatterBareBones.exe
gatherScatterPrimes.exe
piGatherScatter.exe
reducePrimes.exe
structTest.exe
structScatter.exe